.navbarcontainer {
    position: relative;  /* Ensure dropdown is relative to this container */
    padding: 0 2rem;
    max-width: 100vw;
    margin: 0 auto;
    background-color: #ffffff;
}

.navbar {
    background-color: #e3e1e1;
    color: #020202;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #000;
}

.navLinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.navLinks {
    display: flex;
    justify-content: space-around; /* This spreads out the links evenly */
    align-items: center;
    width: 100%;
}

.navButton, .navLinks a {
    font-family: 'Inter', sans-serif;
    color: #030303;
    text-decoration: none;
    margin-bottom: 1rem;  /* Space between links */
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-weight: bold;
    font-size: 130%;
}

.navLinks a:hover, .navButton:hover {
    color: #0ea5e9;
}

.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .navLinksContainer {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #e3e1e1;
        color: #020202;
        padding: 0 2rem;
        border-radius: 25px;
        border: 1px solid #000;
        flex-direction: column;
        display: none;
        margin: 0 6% 0 6%;
    }

    .navOpen {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}